-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: sistema_informes_tics
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auditoria`
--

DROP TABLE IF EXISTS `auditoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auditoria` (
  `id` int NOT NULL AUTO_INCREMENT,
  `usuario_id` int DEFAULT NULL,
  `usuario` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `modulo` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `accion` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `detalle` text COLLATE utf8mb4_unicode_ci,
  `ip` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `usuario_id` (`usuario_id`),
  CONSTRAINT `auditoria_ibfk_1` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auditoria`
--

LOCK TABLES `auditoria` WRITE;
/*!40000 ALTER TABLE `auditoria` DISABLE KEYS */;
INSERT INTO `auditoria` VALUES (1,1,'admin','Documentos','Generar PDF','Se gener├│ el PDF INAMHI-DAF-UTICS-2026-003-RE.pdf para el informe ID 2','127.0.0.1','2026-06-05 13:16:15'),(2,1,'admin','Documentos','Generar PDF','Se gener├│ el PDF INAMHI-DAF-UTICS-2026-003-RE.pdf para el informe ID 2','127.0.0.1','2026-06-05 13:21:41'),(3,1,'admin','Documentos','Generar Word','Se gener├│ el Word INAMHI-DAF-UTICS-2026-003-RE.docx para el informe ID 2','127.0.0.1','2026-06-05 13:25:01');
/*!40000 ALTER TABLE `auditoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bienes`
--

DROP TABLE IF EXISTS `bienes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bienes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tipo_id` int NOT NULL,
  `marca_id` int NOT NULL,
  `estado_id` int NOT NULL,
  `modelo` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `serie` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `codigo_esbye` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observacion` text COLLATE utf8mb4_unicode_ci,
  `fecha_creacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `tipo_id` (`tipo_id`),
  KEY `marca_id` (`marca_id`),
  KEY `estado_id` (`estado_id`),
  CONSTRAINT `bienes_ibfk_1` FOREIGN KEY (`tipo_id`) REFERENCES `tipos_bienes` (`id`),
  CONSTRAINT `bienes_ibfk_2` FOREIGN KEY (`marca_id`) REFERENCES `marcas` (`id`),
  CONSTRAINT `bienes_ibfk_3` FOREIGN KEY (`estado_id`) REFERENCES `estados_bienes` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bienes`
--

LOCK TABLES `bienes` WRITE;
/*!40000 ALTER TABLE `bienes` DISABLE KEYS */;
INSERT INTO `bienes` VALUES (1,1,5,5,'HP','123456','HUTPYJG','malo','2026-06-03 22:27:28');
/*!40000 ALTER TABLE `bienes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documentos_generados`
--

DROP TABLE IF EXISTS `documentos_generados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `documentos_generados` (
  `id` int NOT NULL AUTO_INCREMENT,
  `informe_id` int NOT NULL,
  `tipo_documento` enum('PDF','WORD','PDF_FIRMADO') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nombre_archivo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ruta_archivo` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha_generacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `informe_id` (`informe_id`),
  CONSTRAINT `documentos_generados_ibfk_1` FOREIGN KEY (`informe_id`) REFERENCES `informes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documentos_generados`
--

LOCK TABLES `documentos_generados` WRITE;
/*!40000 ALTER TABLE `documentos_generados` DISABLE KEYS */;
/*!40000 ALTER TABLE `documentos_generados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estados_bienes`
--

DROP TABLE IF EXISTS `estados_bienes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `estados_bienes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estados_bienes`
--

LOCK TABLES `estados_bienes` WRITE;
/*!40000 ALTER TABLE `estados_bienes` DISABLE KEYS */;
INSERT INTO `estados_bienes` VALUES (2,'Bueno'),(7,'Dado de baja'),(5,'Da├▒ado'),(6,'En mantenimiento'),(4,'Malo'),(1,'Nuevo'),(3,'Regular');
/*!40000 ALTER TABLE `estados_bienes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fotografias`
--

DROP TABLE IF EXISTS `fotografias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fotografias` (
  `id` int NOT NULL AUTO_INCREMENT,
  `informe_id` int NOT NULL,
  `bien_id` int DEFAULT NULL,
  `usuario_id` int DEFAULT NULL,
  `nombre_archivo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ruta_archivo` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha_subida` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `informe_id` (`informe_id`),
  KEY `bien_id` (`bien_id`),
  KEY `fk_fotografias_usuario` (`usuario_id`),
  CONSTRAINT `fk_fotografias_usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`),
  CONSTRAINT `fotografias_ibfk_1` FOREIGN KEY (`informe_id`) REFERENCES `informes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fotografias_ibfk_2` FOREIGN KEY (`bien_id`) REFERENCES `bienes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fotografias`
--

LOCK TABLES `fotografias` WRITE;
/*!40000 ALTER TABLE `fotografias` DISABLE KEYS */;
INSERT INTO `fotografias` VALUES (3,1,NULL,NULL,'informe_1_logo.png','uploads/fotografias/informe_1_logo.png','2026-06-04 17:55:15'),(4,2,NULL,1,'informe_2_logo.png','uploads/fotografias/informe_2_logo.png','2026-06-04 20:46:20');
/*!40000 ALTER TABLE `fotografias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `funcionarios`
--

DROP TABLE IF EXISTS `funcionarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `funcionarios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cedula` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nombres` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `apellidos` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cargo` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `dependencia` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ubicacion_fisica` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `correo` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telefono` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estado` enum('ACTIVO','INACTIVO') COLLATE utf8mb4_unicode_ci DEFAULT 'ACTIVO',
  `fecha_creacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cedula` (`cedula`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `funcionarios`
--

LOCK TABLES `funcionarios` WRITE;
/*!40000 ALTER TABLE `funcionarios` DISABLE KEYS */;
INSERT INTO `funcionarios` VALUES (1,'1752586600','Cristian','Velasque','Pasante','nose','xd','crisss@gmail.com','0987035705','ACTIVO','2026-06-03 22:17:35'),(2,'1723929160','CRISTINA GUADALUPE','ARGOTI ARCOS','Directora','nose','xddd','oliver@gmail.com','0923971100','ACTIVO','2026-06-04 20:30:45');
/*!40000 ALTER TABLE `funcionarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historial_informes`
--

DROP TABLE IF EXISTS `historial_informes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `historial_informes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `informe_id` int NOT NULL,
  `usuario_id` int NOT NULL,
  `accion` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `detalle` text COLLATE utf8mb4_unicode_ci,
  `fecha` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `informe_id` (`informe_id`),
  KEY `usuario_id` (`usuario_id`),
  CONSTRAINT `historial_informes_ibfk_1` FOREIGN KEY (`informe_id`) REFERENCES `informes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `historial_informes_ibfk_2` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historial_informes`
--

LOCK TABLES `historial_informes` WRITE;
/*!40000 ALTER TABLE `historial_informes` DISABLE KEYS */;
/*!40000 ALTER TABLE `historial_informes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `informe_bienes`
--

DROP TABLE IF EXISTS `informe_bienes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `informe_bienes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `informe_id` int NOT NULL,
  `bien_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `informe_id` (`informe_id`),
  KEY `bien_id` (`bien_id`),
  CONSTRAINT `informe_bienes_ibfk_1` FOREIGN KEY (`informe_id`) REFERENCES `informes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `informe_bienes_ibfk_2` FOREIGN KEY (`bien_id`) REFERENCES `bienes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `informe_bienes`
--

LOCK TABLES `informe_bienes` WRITE;
/*!40000 ALTER TABLE `informe_bienes` DISABLE KEYS */;
INSERT INTO `informe_bienes` VALUES (3,1,1),(4,2,1);
/*!40000 ALTER TABLE `informe_bienes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `informes`
--

DROP TABLE IF EXISTS `informes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `informes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `numero_informe` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `funcionario_id` int NOT NULL,
  `tipo_informe_id` int NOT NULL,
  `usuario_creador_id` int NOT NULL,
  `antecedentes` longtext COLLATE utf8mb4_unicode_ci,
  `desarrollo` longtext COLLATE utf8mb4_unicode_ci,
  `observaciones` longtext COLLATE utf8mb4_unicode_ci,
  `conclusiones` longtext COLLATE utf8mb4_unicode_ci,
  `fecha_informe` date DEFAULT NULL,
  `estado` enum('BORRADOR','GENERADO','FIRMADO','ANULADO') COLLATE utf8mb4_unicode_ci DEFAULT 'BORRADOR',
  `fecha_creacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `firmado_por` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha_firma` datetime DEFAULT NULL,
  `firma_validada` tinyint(1) DEFAULT '0',
  `metodo_validacion` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha_validacion` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `numero_informe` (`numero_informe`),
  KEY `funcionario_id` (`funcionario_id`),
  KEY `tipo_informe_id` (`tipo_informe_id`),
  KEY `usuario_creador_id` (`usuario_creador_id`),
  CONSTRAINT `informes_ibfk_1` FOREIGN KEY (`funcionario_id`) REFERENCES `funcionarios` (`id`),
  CONSTRAINT `informes_ibfk_2` FOREIGN KEY (`tipo_informe_id`) REFERENCES `tipos_informes` (`id`),
  CONSTRAINT `informes_ibfk_3` FOREIGN KEY (`usuario_creador_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `informes`
--

LOCK TABLES `informes` WRITE;
/*!40000 ALTER TABLE `informes` DISABLE KEYS */;
INSERT INTO `informes` VALUES (1,'INAMHI-DAF-UTICS-2026-002-CA',1,4,1,'nada','excelente','feo','bueno','2026-06-03','FIRMADO','2026-06-03 22:33:25','Firma digital detectada','2026-06-04 15:08:02',1,NULL,NULL),(2,'INAMHI-DAF-UTICS-2026-003-RE',2,3,1,'hola','quien sabe','donde andara','ese oliver gei','2026-06-04','GENERADO','2026-06-04 20:31:53',NULL,NULL,0,NULL,NULL);
/*!40000 ALTER TABLE `informes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `marcas`
--

DROP TABLE IF EXISTS `marcas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `marcas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `marcas`
--

LOCK TABLES `marcas` WRITE;
/*!40000 ALTER TABLE `marcas` DISABLE KEYS */;
INSERT INTO `marcas` VALUES (5,'Acer'),(4,'Asus'),(13,'Brother'),(12,'Canon'),(1,'Dell'),(11,'Epson'),(8,'Genius'),(2,'HP'),(3,'Lenovo'),(6,'LG'),(10,'Logitech'),(14,'Otras'),(7,'Samsung'),(9,'Xtech');
/*!40000 ALTER TABLE `marcas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha_creacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'ADMINISTRADOR','Administrador General','2026-06-03 21:27:44'),(2,'TECNICO','Tecnico TICS','2026-06-03 21:27:44'),(3,'CONSULTA','Solo consulta','2026-06-03 21:27:44'),(4,'AUDITOR','Auditor Institucional','2026-06-04 22:16:18');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipos_bienes`
--

DROP TABLE IF EXISTS `tipos_bienes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipos_bienes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipos_bienes`
--

LOCK TABLES `tipos_bienes` WRITE;
/*!40000 ALTER TABLE `tipos_bienes` DISABLE KEYS */;
INSERT INTO `tipos_bienes` VALUES (1,'CPU'),(6,'Impresora'),(5,'Laptop'),(2,'Monitor'),(4,'Mouse'),(10,'Otros'),(8,'Proyector'),(9,'Scanner'),(7,'Tablet'),(3,'Teclado');
/*!40000 ALTER TABLE `tipos_bienes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipos_informes`
--

DROP TABLE IF EXISTS `tipos_informes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipos_informes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `codigo` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nombre` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipos_informes`
--

LOCK TABLES `tipos_informes` WRITE;
/*!40000 ALTER TABLE `tipos_informes` DISABLE KEYS */;
INSERT INTO `tipos_informes` VALUES (1,'A','Asignacion'),(2,'D','Descargo'),(3,'RE','Revision Estado'),(4,'CA','Cambio Actualizacion'),(5,'I','Instalacion Bien'),(6,'O','Otros');
/*!40000 ALTER TABLE `tipos_informes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombres` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `apellidos` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `usuario` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `correo` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `rol_id` int NOT NULL,
  `estado` enum('ACTIVO','INACTIVO') COLLATE utf8mb4_unicode_ci DEFAULT 'ACTIVO',
  `fecha_creacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `usuario` (`usuario`),
  KEY `rol_id` (`rol_id`),
  CONSTRAINT `usuarios_ibfk_1` FOREIGN KEY (`rol_id`) REFERENCES `roles` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-05 15:12:39
